/* Font styling */
h1 {
	color: #fff;
	font-weight: 600;
	font-size: 4em;
	white-space: nowrap;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #24408f;
}

p {
	color: #ccc;
	line-height: 1.5;
	font-weight: 200;
	margin-bottom: 20px;
}

a {
	color: #09d15b;
	text-decoration: none;
}

a:hover {
	color: #09d15b;
}

.hovertext {
	color: #09d15b;
	font-weight: bold;
	cursor: pointer;
}

.hovertext:hover {
	text-decoration: underline;
}

dl, h2, li {
	color: #fff;
}

#timeline li{
	color:#000;
}

dl {
	font-size: 0.8em;
}

/* Basic colors */
/*	color: #24408f; (blue)
	color: #2ebcbb; (aqua)
	color: #09d15b; (green)*/



/* Block styling */
/* Container */

#main {
	min-height: 800px;
	margin-bottom: 7em;
}

/* Navbar */
.navbar-inverse {
	background-color: black;
}

.navbar .main-logo {
	height: 30px;
	vertical-align: text-bottom;
}

.navbar-brand {
	padding: 10px;
}

.navbar-image {
	height: 1.25em;
	margin-left: 0.5em;
	opacity: 0.7;
}

.navbar-image:hover {
	opacity: 1;
}

/* Steps */

ol.steps {
	counter-reset: li;
	margin-top: 80px;
	margin-left: 0;
	padding-left: 0;
}
ol.steps > li {
	position: relative;
/*	margin: 0 0 6px 2em;
/*	padding: 1em 2em;*/
	list-style: none;
}

ol.steps > li:before {
	content: "Step " counter(li);
	counter-increment:li;
	position: absolute;
	top: -40px;
/*	left: -2em;
*/	width: 100%;
    padding: 4px 0 4px 0;
    font-size: 2em;
    font-weight: 200;
}

ol.steps > li.learn:before {
	content: "Step 1: Learn";
	counter-increment: li;
	color: #09d15b;
}

ol.steps > li.vote:before {
	content: "Step 2: Vote";
	counter-increment: li;
	color: #09d15b;
}

ol.steps > li.involve:before {
	content: "Step 3: Stay Involved";
	counter-increment: li;
	color: #09d15b;
}

.step {
	min-height: 300px;
	max-height: 450px;
}

.step-hidden {
  display: none; 
}


/* Left block */
.step-left {
	display: block;
	position: absolute;
	top: 6.5em;
	left: 0;
	width: 48%;
	float: left;
}

.primary {
	font-size: 1.5em;
}

.secondary {
	margin-top: 30px;
	font-size: 1em;
}

/* Right block */
.step-right {
	display: block;
	position: absolute;
	top: 6.5em;
	right: 0;
	padding: 15px;
	float: right;
	background-color: #fff;
	width: 48%;
	height: 100%;
	border-radius: 10px;
	overflow: auto;
}

.step-right-fullscreen {
	display: block;
	position: absolute;
	top: 6.5em;
	right: 0;
	padding: 15px;
	background-color: #fff;
	width: 100%;
	border-radius: 10px;
	z-index: 1001;
	overflow: auto;
}

.step-right h2 {
	font-weight: 700;
	font-size: 1.5em;
	color: #24408f;
	margin-top: 0;
}

.step-right p {
	color: #444;
}

.graphic {
	position: relative;
}

.graphic img {
	width: 100%;
}

/* Vote block */
.step-vote {
	display: block;
	position: absolute;
	top: 5em;
	left: 0;
	margin-top: 25px;
	width: 100%;
	float: left;
}

/* Badges */
.row {
	margin: 50px auto;
	clear: both;
	overflow: auto;
}

.brick {
  position: relative;
  float: left;
  margin: 0 10px;
  width: 29%;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
}

.brick-badge {
  width: 70px;
  height: 70px;
}

.brick-image {
  width: 100%;
  min-height: 120px;
  max-height: 240px;
  border-radius: 10px;
}

/* Overlays */
#screen {
	display: none;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	z-index: 1000;
}

.overlay {
	display: none; 	
	position: fixed;
	top: 20%;
	left: 25%;
	padding: 20px 30px 30px 30px;
	width: 50%;
	min-height: 200px;
	z-index: 1003;
	border-radius: 20px;
	background-color: white;
}

.overlay p {
	color: #bbb;
	font-size: 1.5em;
	margin-top: 20px;
}

/* Button styling */
.close-button {
	float: right;
	cursor: pointer;
	height: 20px;
	margin-right: -10px;
	margin-top: -10px;
}

.fullscreen {
	display: block;
	position: absolute;
	cursor: pointer;
	background-color: white ;
	top: 6.5em;
	right: -2.5em;
	padding: 10px;
	height: 45px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.fullscreen-open {
	content: url("../assets/fullscreen-small.png");
}
.fullscreen-close {
	content: url("../assets/fullscreen-close-small.png");
	z-index: 1001;
}

.step-button {
	position: absolute;   
	bottom: -7.5em;
	cursor: pointer;
	border: none;
	background-color: #09d15b;
	display: inline-block;
	color: rgba(255,255,255,1);
	font-weight: bold;
	font-size: 2em;
	padding: 10px 20px;
}

.step-button:hover {
   background-color: #09f56b;
}

.step-button:active {
   background-color: #09d15b;
}

.next {
	right: 0;
}

.prev {
	left: 0;
}

.arrow {
	margin: 5px 5px 0 5px;
	width: 30px;
	height: 30px;
	vertical-align: text-top;
}

/* Footer */
#footer {
  padding-top: 20px;
  position: relative;
  padding-bottom: 20px;
  width: 100%;
  min-height: 60px;
  background-color: #000;
}

.footerLogo {
  opacity: 0.6;
  margin-right: 0.35em;
  margin-left: 0.35em;
  margin-top: 0.25em;
  height: 50px;
  vertical-align: text-bottom;
}

/* Forms */
.form-control {
	border-radius: 0;
	width: 25%;
}

label {
	color: #fff;
}

textarea {
	width: 100%;
	resize: both;
}

/* General */
.textcenter {
	text-align: center;
}

.clear {
	clear:both;
}

.active {
	display: block;
}

.muted {
  color: #999;
}

p.question {
	font-weight: 500;
	margin-top: 1.5em;
	margin-bottom: 0;
	color: black;
}

p.answer {
	font-size: 1em;
	margin: 0;
}

#MKR-Headshot-2011
{
    float: left;
    height: 10em;
    margin: 0 .7em 0 0;
}
