.legend {
	background: transparent url(assets/square-large-black.png) no-repeat 1px 1px;
	padding-left: 24px;
	margin-right: 2px;
}

#squares-container {
	width: 500px;
	height: 200px;
	background-image:url(assets/square-large-gray.png);
}